<html>

<head>
	<title>Chat</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
	<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
	<link href="/css/mainpage.css" rel="stylesheet">
	<link href="/css/chat.css" rel="stylesheet">
</head>

<body>
	<nav class="navbar navbar-expand bg-light fixed-top shadow-sm">
		<a class="navbar-brand" href="..">
			<img class="home" id='lg' alt="Brand logo" src="/images/Oval.png">
		</a>
		<ul class="navbar-nav me-auto">
			<li class="nav-item">
				<a class="nav-link home" aria-current="page" href="https://a7-artcommissioner.herokuapp.com/">Home</a>
			</li>
		</ul>
		<ul class="navbar-nav">
			<li class="nav-item dropdown">
				<a class=" nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
					data-bs-toggle="dropdown" aria-expanded="false">
					Profile
				</a>
				<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
					<li><a class="dropdown-item" href="https://a7-artcommissioner.herokuapp.com/calendars">Schedules</a></li>
					<li><a class="dropdown-item" href="https://a7-artcommissioner.herokuapp.com/orders">Orders</a></li>
					<li>
						<hr class="dropdown-divider">
					</li>
					<li><a class="dropdown-item" href="https://a7-artcommissioner.herokuapp.com/login">Log Out</a></li>
				</ul>
			</li>
			<li class="nav-item active">
				<a class="nav-link" href="https://a7-artcommissioner.herokuapp.com/messages">Messages</a>
			</li>
		</ul>
	</nav>
	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item home"><a href="https://a7-artcommissioner.herokuapp.com/">Home</a></li>
			<li class="breadcrumb-item" aria-current="page"><a href="../{{name}}&{{artist}}">{{artist}}</a></li>
			<li class=" breadcrumb-item active" aria-current="page">Chat</li>
		</ol>
	</nav>
	<div class="chat-panel">
		<section class="container">
			{{#each text}}
			<div class="row no-gutter{{#if lg-end}} justify-content-lg-end{{/if}}">
				<div class="col-lg-4" id="chat">
					<div class="message--{{this.from}}">
						{{#unless lg-end}}
						<div class="user-icon--{{this.from}}">
							<i class="fas fa-user-alt" id="user"></i>
						</div>
						{{/unless}}
						<div class="chat-bubble chat-bubble--{{this.from}}">
							{{{this.txt}}}
						</div>
						{{#if lg-end}}
						<div class="user-icon--{{this.from}}">
							<i class="fas fa-user-alt" id="user"></i>
						</div>
						{{/if}}
					</div>
				</div>
			</div>
			{{/each}}
			{{!-- <div class="row no-gutter">
				<div class="col-lg-4" id="chat">
					<div class="message--left">
						<div class="user-icon--left">
							<i class="fas fa-user-alt" id="user"></i>
						</div>
						<div class="chat-bubble chat-bubble--left">
							{{this.left}}
						</div>
					</div>
				</div>
			</div>
			{{/each}}
			<div class="row no-gutter">
				<div class="col-lg-4">
					<div class="message--left">
						<div class="user-icon--left">
							<i class="fas fa-user-alt" id="user"></i>
						</div>
						<div class="chat-bubble chat-bubble--left">
							<a href="https://a7-artcommissioner.herokuapp.com/addOrder/{{artist}}">Final</a>
						</div>
					</div>
				</div>
			</div> --}}
		</section>
	</div>
	{{!-- <div class="fixed-bottom"> --}}
		{{!-- <div class="row"> --}}
			{{!-- <div class="col-md-12"> --}}
				<form class="fixed-bottom" id="sendTextForm" role="form" method="get"
					action="/artist/{{name}}&{{artist}}/chat/send">
					<div class="chat-box-tray">
						<input type="text" id='text' name='text' placeholder="Type your messages">
						</input>
						<div class="input-group-append">
							<button type="submit" class="btn btn-primary">
								<i class="fas fa-paper-plane"></i>
							</button>
						</div>
					</div>
				</form>
				{{!--
			</div> --}}
			{{!-- </div> --}}
		{{!-- </div> --}}

	{{!--
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
		integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
		integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
		crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script> --}}
	<script src="https://code.jquery.com/jquery.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
		crossorigin="anonymous"></script>
	<script src="https://kit.fontawesome.com/c4240f549f.js" crossorigin="anonymous"></script>
	<script src="/js/masonry.js"></script>
	<script src="/js/main.js"></script>
</body>

</html>