<html>

<head>
    <title>Order</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
    <link href="/css/orderDetail.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/addDetail.js"></script>
    <script src="https://code.jquery.com/jquery.js"></script>
</head>

<body>
    <nav class="navbar navbar-expand bg-light fixed-top shadow-sm">
        <a class="navbar-brand" href="#">
            <img class="home" id='lg' alt="Brand logo" src="/images/Oval.png">
        </a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link home" aria-current="page" href="http://localhost:3000/">Home</a>
            </li>
        </ul>
        <ul class="navbar-nav">
            <li class="nav-item dropdown">
                <a class=" nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                    data-bs-toggle="dropdown" aria-expanded="false">
                    Profile
                </a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <li><a class="dropdown-item" href="http://localhost:3000/calendars">Schedules</a>
                    </li>
                    <li><a class="dropdown-item" href="http://localhost:3000/orders">Order</a></li>
                    <li>
                        <hr class="dropdown-divider">
                    </li>
                    <li><a class="dropdown-item" href="http://localhost:3000/login">Log Out</a></li>
                </ul>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="http://localhost:3000/Messages">Messages</a>
            </li>
        </ul>
    </nav>
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="http://localhost:3000/">Home</a>
            </li>
            <li class="breadcrumb-item" aria-current="page"><a href="http://localhost:3000/orders">Orders</a></li>
            <li class="breadcrumb-item active" aria-current="page">Order details</li>
        </ol>
    </nav>
    <div class="container">
        <div class="progress-container">
            <div class="circle active">Recieve</div>
            <div class="circle active">Prepare</div>
            <div class="circle {{Finished}}">Finished</div>
            <div class="{{progressbar}}" id="progress"></div>
        </div>
        <h1>Order Details</h1>
        <div class="detail-sector" id="order-detail">
            <ol class="frame">
                <li>Order date</li>
                <li>Order name</li>
                <li>Order total</li>
            </ol>
            <ol class="frame" id="answer">
                <li>{{date}}</li>
                <li>{{name}}</li>
                <li>{{price}}</li>
            </ol>
        </div>
        <h1>Process</h1>
        <div class="detail-sector" id="progress-description">
            {{{detail}}}
        </div>
        <h1>Product</h1>
        <div class="detail-sector">
            <div class="frame">
                <img class="img-fluid" src="../images/{{product}}" />
                <!-- <img class="img-fluid" src="images/watercolor 1.jpg" /> -->
            </div>
        </div>
        <div class="bottom">
            {{#if acceptable}}
            <div class="accept-btn" id="button-description">ACCEPT</div>

            {{/if}}
        </div>
        {{!--
        <script>
            function myFunction() {
                //document.getElementById("button-description").innerHTML = "";
                document.getElementById("button-description").style.visibility = "hidden";
                document.getElementById("progress-description").innerHTML = "<div class='frame'><p>Final product accepted!</p></div>";
            }
        </script> --}}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js"
        integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous"
        async></script>
</body>

</html>